
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#everything {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
  background: #b70909f5;
  cursor: pointer;
  border: none;
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 0;
  padding: 4px 5px;
  color: white;
}

audio {
  width: 40vw;
  position: absolute;
  right: 0;
}

#center {
  justify-items: center;
  width: 8vmax;
  height: 8vmax;
  margin: auto;
  top: calc(50vh - 2vmax);
  position: relative;
}

#centerSong {
  width: 100vw;
  left: 0;
  text-align: center;
  align-content: center;
  position: absolute;
  bottom: 15vh;
}

#trackTime {
  width: 40vw;
  height: 7px;
  background: gray;
  position: absolute;
  border-radius: 2.5px;
  left: 30vw;
  justify-content: center;
  cursor: pointer;
}

#timeIndicate {
  width: 10px;
  height: 7px;
  background: black;
  border-radius: 3.5px;
  position: absolute;
  display: inline-block;
  margin: 0;
  left: -7px;
}

#timeIndicate:hover {
  height: 13px;
  top: -3px;
}

#doneGone {
  position: absolute;
  left: 0;
  height: 7px;
  background: #b70909;
  width: 0;
  margin: 0;
  display: inline-block;
  border-radius: 3.5px;
}

#file {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.playpause {
  background: transparent;
  padding: 0;
  margin: 0;
}

.getfile {
  background:rgba(255, 0, 0, .5);
  cursor: pointer;
  padding: 4px;
  border: none;
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 0;
}

#uploadbtn {
  display: block;
  text-align: center;
}

#showFile, #getFile {
  display: inline;
}

#uploadForm [type=text] {
  display: block;
  margin-bottom: 8px;
  width: 98%;
}

#buttons {
  position: absolute;
  bottom: 1vmin;
  left: 1vmin;
  font-size: 1.2em;
  width: calc(100vw - 1vmin);
}

dd {
  font-style: italic;
  cursor: pointer;
  padding-left: 60px;
  position: relative;
  right: 60px;
  width: 100%;
}

dt {
  cursor: pointer;
  padding: 4px;
}

#songsList {
  position: absolute;
  top: -13px;
  left: 3px;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.dt:nth-child(even) { background: rgb(200, 200, 200); }
.dt[lmode=false]:nth-child(even) { background: rgb(40, 40, 40); }

.dt[selected=true] {background: #b70909;}

#clearall {
  position: absolute;
  right: 1vmin;
}

#popups {
  position: relative;
  text-align: center;
}

.popup {
  position: relative;
  display: none;
  margin: 0 auto;
  justify-content: center;
  box-shadow: 6px 6px 10px black, 5px -5px 8px black, -5px 5px 8px black, -5px -5px 8px black;
  padding: 4px;
  z-index: 4;
  background: white;
}

#shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .3);
  z-index: 3;
}

@media screen and (max-width: 520px) {
  #centersong {bottom: 20vh;}
  #trackTime {width: 80vw; left: 10vw;}
  #timeIndicate { 
    height: 13px;
    top: -3px;
  }
}

.none {
  display: none;
}

.inlineBlock {
  display: inline-block;
}

.initial {
  display: initial;
}

.reverse {
  color: gray;
  background: black;
}

.invert {
  filter: invert(100%);
}