
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
  cursor: pointer;
  background-color:rgba(255, 0, 0, .6);
  cursor: pointer;
  padding: 4px;
  border: none;
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 0;
  border-radius: 2px;
}

audio {
  width: 40vw;
  position: absolute;
  right: 0;
}

#center {
  justify-items: center;
  width: 8vmax;
  height: 8vmax;
  margin: auto;
  top: calc(50vh - 2vmax);
  position: relative;
}

#centerSong {
  width: 100vw;
  left: 0;
  text-align: center;
  align-content: center;
  position: absolute;
  bottom: 15vh;
}

#trackTime {
  width: 40vw;
  height: 7px;
  background-color: gray;
  position: absolute;
  border-radius: 2.5px;
  left: 30vw;
  justify-content: center;
  cursor: pointer;
}

#timeIndicate {
  width: 10px;
  height: 7px;
  background: black;
  border-radius: 3.5px;
  position: absolute;
  display: inline-block;
  margin: 0;
  left: -7px;
}

#timeIndicate:hover {
  height: 13px;
  top: -3px;
}

#doneGone {
  position: absolute;
  left: 0;
  height: 7px;
  background: rgba(255, 0, 0, .5);
  width: 0;
  margin: 0;
  display: inline-block;
  border-radius: 3.5px;
}

#file {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.playpause {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.getfile {
  background-color:rgba(255, 0, 0, .5);
  cursor: pointer;
  padding: 4px;
  border: none;
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 0;
}

#uploadbtn {
  display: block;
  text-align: center;
}

#showFile, #getFile {
  display: inline;
}

#showFile {
  color: rgb(70, 70, 70);
}

#uploadForm [type=text] {
  display: block;
  margin-bottom: 8px;
  width: 98%;
}

#uploadPopbtn {
  position: absolute;
  bottom: 1vmin;
  left: 1vmin;
  font-size: 1.2em;
}

dd {
  font-style: italic;
  cursor: pointer;
  padding-left: 60px;
  position: relative;
  right: 60px;
  width: 100%;
}

dt {
  cursor: pointer;
  padding: 4px;
}

#songsList {
  position: absolute;
  top: 1vh;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

#songsList dt:nth-child(even) {background-color: rgb(200, 200, 200);}

#clearall {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  font-size: 1.2em;
}

#popups {
  position: relative;
  text-align: center;
}

.popup {
  position: relative;
  display: none;
  margin: 0 auto;
  justify-content: center;
  box-shadow: 6px 6px 10px black, 5px -5px 8px black, -5px 5px 8px black, -5px -5px 8px black;
  padding: 4px;
  z-index: 4;
  background-color: white;
}

#shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .3);
  z-index: 3;
}

@media screen and (max-width: 520px) {
  #centersong {bottom: 20vh;}
  #trackTime {width: 80vw; left: 10vw;}
  #timeIndicate { 
    height: 13px;
    top: -3px;
  }
}

.none {
  display: none;
}

.inlineBlock {
  display: inline-block;
}

.initial {
  display: initial;
}